.control {
  display: flex;
  background-color: var(--control-color);
  padding: 0.5vh 1vw;
  width: 100vw;
  height: 8vh;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  .info {
    display: flex;
    width: 25%;
    img,
    video {
      object-fit: cover;
      width: 20%;
      height: 100%;
      border-radius: 10px;
      margin-right: 10px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .control-audio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 100%;
    .control-bar {
      display: flex;
      justify-content: space-between;
      width: 20%;
      .active {
        filter: brightness(0) saturate(100%) invert(52%) sepia(87%)
          saturate(4782%) hue-rotate(317deg) brightness(101%) contrast(101%);
      }
      button {
        background-color: transparent;
        img {
          width: 24px;
          height: 24px;
          filter: var(--filter-white);
          cursor: pointer;
        }
      }
      .play {
        img {
          width: 32px;
          height: 32px;
          filter: var(--filter-white);
        }
      }
    }
    .range {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      input {
        width: 90%;
        -webkit-appearance: none;
        height: 6px;
        background: var(--range-color);
        border-radius: 999px;
        outline: none;
        opacity: 0.7;
        cursor: pointer;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 2%;
          height: 6px;
          background-color: var(--main-color);
          cursor: pointer;
        }
      }
    }
  }
  .more {
    display: flex;
    align-items: center;
    width: 10%;
    .volume {
      display: flex;
      align-items: center;
      position: relative;
      img {
        width: 24px;
        height: 24px;
        filter: var(--filter-white);
        margin-right: 10px;
        cursor: pointer;
      }
      input {
        position: absolute;
        right: 35px;
        transform: rotate(180deg);
        width: 8vw;
        -webkit-appearance: none;
        height: 6px;
        background: linear-gradient(
          to right,
          var(--main-color) 0%,
          var(--main-color) var(--volume),
          var(--range-color) var(--volume),
          var(--range-color) 100%
        );
        border-radius: 999px;
        outline: none;
        opacity: 0.7;
        cursor: pointer;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20%;
          height: 6px;
          cursor: pointer;
        }
      }
    }
    .open-detail {
      margin-left: 10%;
      img {
        width: 32px;
        height: 32px;
        margin-top: 5px;
        filter: var(--filter-white);
        cursor: pointer;
      }
    }
  }
}

.detail {
  position: relative;
  height: 100vh;
  background-color: var(--control-color);
  backdrop-filter: blur(15px);
  flex-direction: column;
  padding: 5vh 30vw;
  .next-song {
    position: absolute;
    right: 5%;
    width: 20%;
    height: 75%;
    overflow-x: scroll;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    img {
      display: inline-block;
      width: 5%;
      filter: var(--filter-white);
      cursor: pointer;
    }
    div {
      width: 5%;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      p {
        color: var(--main-color);
      }
      h3 {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2rem;
      }
    }
  }
  .audio-video {
    display: flex;
    height: 5%;
    width: 25%;
    margin: 2% auto 0;
    border-radius: 999px;
    background-color: var(--songs-color);
    overflow: hidden;
    button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: var(--songs-color);
    }
    .active {
      p {
        color: #fff;
      }
      cursor: default;
      background-color: var(--main-color);
    }
  }
  .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 55%;
    margin: 5% 0;
    img,
    video {
      margin: 0;
      width: 80%;
      height: 100%;
    }
  }
  .control-audio {
    display: flex;
    width: 85%;
    height: 15%;
    margin: 10% auto 0;
    .control-bar {
      height: 50%;
      width: 60%;
      .play {
        img {
          width: 42px;
          height: 42px;
        }
      }
    }
    .range {
      width: 95%;
      height: 50%;
      input {
        width: 80%;
      }
    }
  }
  .more {
    height: 5%;
    width: 90%;
    .volume {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      img {
        margin: 0;
      }
      input {
        width: 30%;
        right: 55px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .control {
    .info {
      width: 75%;
      img,
      video {
        width: 20%;
      }
      .title {
        width: 75%;
      }
    }
    .control-audio {
      width: 15%;
      .control-bar {
        button {
          display: none;
        }

        .play {
          display: block;
        }
      }
      .range {
        display: none;
      }
    }
    .more {
      width: 10%;
      .volume {
        display: none;
      }
    }
  }
  .detail {
    height: 100vh;
    flex-direction: column;
    padding: 0;
    .header {
      position: sticky;
      top: 0;
      margin-bottom: 20%;
      height: 10%;
    }
    .audio-video {
      width: 30%;
    }
    .info {
      height: 45%;
      max-height: none;
      width: 100%;
      img,
      video {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }
    .control-audio {
      flex-direction: column-reverse;
      height: 25%;
      width: 100%;
      .control-bar {
        width: 80%;
        button {
          display: block;
          img {
            width: 32px;
            height: 32px;
          }
        }
        .play {
          img {
            width: 52px;
            height: 52px;
            filter: var(--filter-white);
          }
        }
      }
      .range {
        display: flex;
        width: 90%;
      }
    }

    .more {
      height: 5%;
    }
  }
}
