.login-model {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40vw;
  height: 70vh;
  border-radius: 15px;
  padding: 20px 40px;
  background-color: var(--main-background);
  box-shadow: var(--box-shadow);
  &::after {
    content: "";
    position: absolute;
    top: -2%;
    right: 2%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--main-background);
  }

  .sign-in,
  .signUp {
    h1 {
      cursor: default;
      height: 5vh;
    }
    .social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: 5vh;
      height: 15vh;
      &::before {
        content: "";
        position: absolute;
        bottom: -15px;
        width: 100%;
        height: 1px;
        opacity: 0.3;
        background-color: var(--range-color);
      }
      .loginGG,
      .loginFB {
        button {
          display: flex;
          justify-content: space-between;
          width: 15vw;
          background-color: transparent;
          padding: 10px 30px;
          border: 1px solid var(--range-color);
          border-radius: 999px;
          transition: 0.4s;
          &:hover {
            cursor: pointer;
            transform: scale(105%);
          }
          img {
            filter: none;
          }
        }
      }
    }
    .normally {
      display: flex;
      flex-direction: column;
      height: 30vh;
      margin-top: 5vh;
      .avatar,
      .email,
      .username,
      .password {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;
        p {
          width: 40%;
        }
        input {
          font-weight: 500;
          font-size: 0.8vw;
          color: var(--text-color);
          background-color: var(--songs-color);
          box-shadow: var(--box-shadow);
          border: none;
          outline: none;
          padding: 0.4vw;
          width: 40%;
          height: 50%;
          transition: 0.4s;
          &:hover {
            box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
          }
          &:focus {
            box-shadow: 0 0 0 0.15vw skyblue;
          }
        }
        .err {
          width: 40%;
          height: 2vh;
          span {
            font-size: 12px;
            color: red;
          }
        }
      }

      .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
        height: 25%;
        button {
          height: 50%;
          width: 40%;
          border-radius: 999px;
          background-color: var(--main-color);
          transition: 0.4s;
          img {
            filter: var(--filter-color);
            animation: spin 2s infinite;
            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
          &:hover {
            cursor: pointer;
            transform: scale(105%);
          }
          p {
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
    .forward {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 5vh;
      span {
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .signUp {
    .normally {
      height: 50vh;
      .avatar {
        position: relative;
        text-align: center;
        input {
          display: none;
        }
        label {
          position: absolute;
          top: -100%;
          width: 15vw;
          height: 15vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.login {
  button {
    cursor: pointer;
    background-color: transparent;
  }
}
