.content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80vw;
  height: 100vh;
  background-color: var(--secondary-background);
  padding-top: 1.5vh;
  .header {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    padding: 1.5vh 1vw;
    width: 100%;
    height: 6vh;
    img {
      width: 24px;
      height: 24px;
      filter: var(--filter-color);
      cursor: pointer;
    }
    .back {
      height: 100%;
    }
    .search-input {
      position: relative;
      margin-right: 30%;
      width: 30%;
      input {
        border-radius: 999px;
        padding: 6px 36px;
        height: 44px;
        width: 100%;
        background-color: var(--songs-color);
        color: var(--text-color);
        transition: 0.4s;
        box-shadow: var(--box-shadow);
        &:focus {
          box-shadow: 0 0 0 0.15vw #a8a5a5;
        }
        &::placeholder {
          font-size: 1.2rem;
        }
      }
      img {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20%;
        left: 0;
        filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(13%)
          hue-rotate(227deg) brightness(85%) contrast(73%);
      }
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 10%;
      .action {
        display: flex;
        justify-content: space-between;
        width: 45%;
      }
      .account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 55px;
          height: 55px;
          filter: none;
        }
      }
      .login {
        display: flex;
        align-items: center;
        width: 45%;
        height: 100%;
        img {
          filter: none;
        }
      }
    }
  }
  .main {
    padding: 3vh 1vw;
    height: 90vh;
    overflow-y: auto;
    .again,
    .treding,
    .recommend,
    .albums {
      display: flex;
      flex-direction: column;
      height: 42vh;
      margin-bottom: 30px;
    }
    .treding {
      height: 64vh;
      .songs {
        display: flex;
        height: 90%;
        .top1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 65%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
            cursor: pointer;
          }
        }
        .topchart {
          margin-left: 2%;
          width: 25%;
          .wrap {
            margin-top: 5%;
            width: 100%;
            height: 90%;
            overflow-x: scroll;
            .song {
              display: flex;
              height: 20%;
              background-color: var(--songs-color);
              margin: 0 0 20px 0;
              border-radius: 20px;
              overflow: hidden;
              &:hover {
                cursor: pointer;
              }
              .img {
                width: 25%;
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                .logo-ytb {
                  width: 30%;
                  height: 30%;
                  margin-left: -30%;
                }
              }
              .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 2%;
                width: 60%;
                h3 {
                  height: 30%;
                  font-size: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 90%;
                }
                p {
                  color: #a59894;
                  font-size: 80%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                span {
                  color: #a59894;
                  font-weight: 600;
                  font-size: 1.2rem;
                }
              }
              button {
                width: 7%;
                background-color: transparent;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .albums {
      height: 35vh;
    }
  }
}

@media only screen and (max-width: 767px) {
  .content {
    border-radius: 0;
    width: 100vw;
    padding-top: 0;
    .header {
      padding: 0 1vw;
      .back {
        width: 10%;
        img {
          height: 100%;
        }
      }
      .search-input {
        width: 45%;
        margin: 0;
        input {
          height: 100%;
          width: 100%;
          padding: 8px 26px;
        }
        img {
          width: 24px;
          top: 10%;
        }
      }
      .wrap {
        margin-left: 5%;
        width: 40%;
        .action {
          margin-left: 10%;
        }
        .login {
          width: 35%;
        }
      }
    }
  }
}
