.albums-module {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0;
  width: 100%;
  height: 100%;
  .album {
    width: 12vw;
    height: 28vh;
    border-radius: 5%;
    box-shadow: var(--box-shadow);
    background-color: var(--songs-color);
    overflow: hidden;
    margin: 0 1% 2% 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .albums-module {
    .album {
      width: 23vw;
      height: 20vh;
    }
  }
}
