.content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80vw;
  height: 100vh;
  background-color: var(--secondary-background);
  padding-top: 1.5vh;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 1vw;
    width: 100%;
    height: 5vh;
    img {
      width: 24px;
      height: 24px;
      filter: var(--filter-color);
      cursor: pointer;
    }
    .search-input {
      margin-right: 30%;
      flex-grow: 0.5;
      input {
        border-radius: 999px;
        padding: 6px 36px;
        height: 44px;
        width: 100%;
        background-color: var(--songs-color);
        color: var(--text-color);
        transition: 0.4s;
        box-shadow: var(--box-shadow);
        &:focus {
          box-shadow: 0 0 0 0.15vw #a8a5a5;
        }
        &::placeholder {
          font-size: 12px;
        }
      }
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4vh;
      width: 12%;

      .action {
        display: flex;
        justify-content: space-between;
        width: 40%;
      }
      .account {
        width: 35%;
        height: 100%;
        margin-right: 10px;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 44px;
          height: 44px;
          filter: none;
        }
      }

      .login {
        display: flex;
        align-items: center;
        width: 35%;
        height: 100%;
        img {
          filter: none;
        }
      }
    }
  }
  .main {
    padding: 3vh 1vw;
    height: 90vh;
    overflow-y: auto;
    .again,
    .treding,
    .recommend {
      display: flex;
      flex-direction: column;
      height: 40vh;
      margin-bottom: 30px;
      .wrap {
        display: flex;
        margin-top: 16px;
        overflow-x: auto;
        .song {
          min-width: 12vw;
          width: 12vw;
          height: 34vh;
          border-radius: 16px;
          background-color: var(--songs-color);
          margin-right: 3%;
          box-shadow: var(--box-shadow);
          padding: 10px;
          .title {
            height: 80%;
            img {
              object-fit: cover;
              width: 100%;
              height: 20vh;
              border-radius: 16px;
            }
            h3 {
              margin-top: 5px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 90%;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
          .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            height: 10%;
            p {
              width: 50%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 70%;
            }
            button {
              width: 30%;
              height: 100%;
              background-color: transparent;
              img {
                filter: var(--filter-color);
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
          }
        }
        .active {
          &:hover {
            cursor: default;
            opacity: 1;
          }
          h3,
          p {
            color: var(--main-color);
          }
        }
      }
    }
  }
}
