.list-library {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: scroll;
  .like,
  .upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: var(--songs-color);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    h2 {
      font-size: 1.6rem;
    }
    img {
      width: 22px;
      filter: var(--filter-color);
      &:hover {
        cursor: pointer;
        animation: spin 1s infinite alternate;
        @keyframes spin {
          0% {
            transform: rotate(10deg);
          }
          100% {
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
  .active {
    h3 {
      color: #fff;
      span {
        color: #fff;
      }
    }
    background-color: var(--main-color);
  }
}

@media only screen and (max-width: 767px) {
  .list-library {
    height: 20vh;
    .like,
    .upload {
      height: 45%;
      margin-top: 0;
      margin-bottom: 5px;
      border-radius: 0;
    }
  }
}
